.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 92vh;
}

.posts {
    width: 80%;
    max-width: 800px;
    text-align: center;
}

.post-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    background-color: #5A5A5A;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    color: white;
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post a {
    color: white;
    text-decoration: underline;
}

.icon {
    display: none;
}

.icon.is-small {
    font-size: 1rem;
}

.icon.is-right {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.icon i {
    color: green;
}

.help.is-success {
    color: green;
}

.help.is-success {
    color: green;
}


.help.is-danger {
    color: red;
}

.input.is-danger {
    border-color: red;
    box-shadow: 0 0 0 0.125em rgba(255, 0, 0, 0.25);
}

.textarea.is-danger {
    border-color: red;
    box-shadow: 0 0 0 0.125em rgba(255, 0, 0, 0.25);
}

.icon.is-right i {
    color: green; /* This ensures the green checkmark remains green */
}

.button {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-family: "Roboto Light", sans-serif;
}

.create-button {
    border: none;
    background-color: #9595d7;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

.create-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.save-button,
.edit-button,
.cancel-button,
.delete-button {
    text-decoration: none;
    border: none;
    color: #000000;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 5px;
    margin-bottom: 1%;
    font-size: 20px;
    font-family: "Roboto Light", sans-serif;
    display: flex;
    padding: 0 10px;
    width: 80px;
    height: 25px;
    justify-content: center;
    align-items: center;
}

.save-button {
    background-color: #3dc728;
    color: black;
}

.edit-button {
    background-color: #ffa600;
}

.cancel-button {
    background-color: rgba(124, 126, 124, 0.87);
}

.delete-button {
    background-color: #fc4848;
}

.button-container button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
